/* Définition du fond d'écran et de la couleur du texte global */
body {
  background-image: url("/fond.png");
  background-size: cover;
  background-position: center;
  color: white;
}

/* Style pour les images de la page d'accueil */
.img-accueil {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles pour le HEADER */

.header{/* Styles pour la section header */
  padding-top: 2px;
  padding-bottom: 2px;
}
.imgLogo {/* Styles pour l'image du logo */
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav { /* Styles pour la barre de navigation */
  justify-content:center;
  text-decoration:none;
}
nav a{ /* Styles pour les liens de la barre de navigation */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size:large;
  font-weight: 650;
  margin: 0 60px;
  padding-bottom: 5px;
}
a:hover { /* Styles au survol des liens */
  color: #BF8600;
}
.menubrger{ /* Styles pour le bouton du menu burger */
  color: white;
}
.lien:hover{ /* Styles pour les liens du header */
  color: #BF8600;
}

/* Fin des Styles pour le HEADER */

/* Style pour le FOOTER */

footer { /* Styles pour la section footer */
  background-color: #333;
  color: #fff;
}
.listFooter{ /* Styles pour la liste du footer */
  list-style: none; /* pour supprimer les puces */
  margin: 0;
  padding: 0;
}
.listFooter a { /* Styles pour les liens de la liste du footer */
  text-decoration: none; /* pour supprimer la soulignement par défaut */
  color: white; /* pour définir la couleur du texte */
}
.inscription-btn { /* Styles pour le bouton d'inscription */
  background-color:#BF8600; /* couleur de fond */
  color: white; /* couleur du texte */
  border: none; /* pas de bordure */
  padding: 10px 20px; /* espacement intérieur */
  text-align: center; /* alignement du texte */
  text-decoration: none; /* pas de soulignement */
  display: inline-block; /* affichage en bloc */
  font-size: 16px; /* taille de police */
  margin: 15px 0px; /* marges extérieures */
  cursor: pointer; /* curseur pointeur */
  border-radius: 5px; /* arrondi des coins */
}
.inscription-btn:hover { /* Styles pour le bouton d'inscription au survol */
  background-color: #9c6f07; /* couleur de fond au survol */
}
.reseau{ /* Styles pour les icônes des réseaux sociaux */
  color: #BF8600;
  margin: 40px;
}
.reseau:hover{ /* Styles pour les icônes des réseaux sociaux au survol */
  color: #9c6f07;
}
/* Fin Style pour le FOOTER */

/* Style pour la section groupe */

.imgLogoGrand{ /* Styles pour l'image du logo en grand */
  margin-top: 5px;
 margin-bottom: 15px;
 display: block;
 text-align: center;
 object-fit: cover;
}
.titre { /* Style pour le groupe de titres et sous-titres */
  color: white;
}
.text-orange { /* Style pour les paragraphes de la classe text-orange */
  color: #BF8600; /* Couleur du texte en orange */
}

/* Fin Style pour la section groupe */

 /* Style pour la section Album */

 .imgAccueil1 { /* Style pour les images de la section d'accueil sans effet de transition */
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.sousTitre {
  color: #BF8600;
}
.btn-precommander { /* Style pour le bouton "Pré-commander" */
  background-color: #BF8600;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0px;
  cursor: pointer;
  border-radius: 5px;
}
 /* Fin Style pour la section Album */

/* Style pour la section Tournée */

 .tournee {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.btn-billeterie { /* Style pour le bouton "Billeterie" */
  background-color: #BF8600;
  color: #fff;
  border: 1px solid white;
}
.billeterie{
  text-decoration: none;
  color: white;
}
.carte { /* Style pour les cartes */
  display: flex;
  justify-content: space-around;
  align-items: start;
  text-align: start;
  color: white;
  background-color: #BF8600;
}
/* Fin Style pour la section Tournée */

/* Style pour la section TrackList */

.track { /* Style pour la classe track */
  display: flex; /* Affiche les éléments en ligne et sur la même ligne de base */
  align-items: center; /* Centre les éléments verticalement sur la ligne */
  margin-bottom: 20px; /* Ajoute une marge en bas de 20 pixels */
}
.track img { /* Style pour les images à l'intérieur de la classe track */
  width: 80px; /* Largeur de l'image à 80 pixels */
  height: 80px; /* Hauteur de l'image à 80 pixels */
  margin-right: 20px; /* Ajoute une marge à droite de l'image de 20 pixels */
  border-radius: 4px; /* Ajoute un bord arrondi à l'image */
}
.trackTitle { /* Style pour la classe trackTitle */
  font-size: 18px; /* Taille de la police à 18 pixels */
  font-weight: bold; /* Épaisseur de la police en gras */
  color: white; /* Couleur du texte en blanc */
}
.trackArtist { /* Style pour la classe trackArtist */
  font-size: 14px; /* Taille de la police à 14 pixels */
  position: absolute; /* Position absolue par rapport au parent */
  top: -65px; /* Distance de 65 pixels vers le haut par rapport au parent */
  right: 88px; /* Distance de 88 pixels vers la droite par rapport au parent */
  color: gray; /* Couleur du texte en gris */
}

/* Fin Style pour la section TrackList */


.logo{ /* Styles pour le logo */
  padding-bottom: 10px;
}

h4{ /* Styles pour les sous-titres */
  padding: 30px;
}

.imgAccueil { /* Style pour les images de la section d'accueil */
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}


.imgAccueil:hover { /* Style pour les images de la section d'accueil lorsque la souris passe dessus */
  transform: scale(1.2);
}

.gris { /* Style pour le texte gris */
  color: gray;
}

.back { /* Style pour le fond de la page */
  background-image: url("/fond.png");
}

.btn-dates { /* Style pour le bouton "Dates" */
  background-color: transparent;
  border: none;
  color: white;
  padding-bottom: 20px;
}

.ma-section { /* Style pour la classe ma-section */
  position: relative; /* Position relative par rapport au parent */
}

.mon-titre { /* Style pour la classe mon-titre */
  position: absolute; /* Position absolue par rapport au parent */
  top: -16px; /* Distance de 16 pixels vers le haut par rapport au parent */
  right: 200px; /* Distance de 200 pixels vers la droite par rapport au parent */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Famille de police */
  font-style: italic; /* Style de police en italique */
}

p { /* Style pour tous les paragraphes */
  line-height: 1.7em; /* Espacement entre les lignes de 1,7 fois la taille de la police */
}

[data-aos] { /* Style pour les éléments avec l'attribut "data-aos" */
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

[data-aos].fade-up {
  transform: translateY(150px);
}

[data-aos].fade-left {
  transform: translateX(-150px);
  transition-duration: 1s;
}

[data-aos].fade-right {
  transform: translateX(150px);
  transition-duration: 1s;
}

[data-aos].fade-down {
  transform: translateX(150px);
  transition-duration: 1.5s;
}